# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# fumadocs
.next
.source
out

# Firebase
.firebase

package-lock.json
.env
messages/it.json
messages/ru.json
messages/zh.json
messages/ja.json
messages/fr.json
messages/es.json
messages/ko.json
