# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# https://www.youtube.com/watch?v=kLEp5tGDqcI
# https://docs.github.com/en/actions/learn-github-actions/environment-variables

name: Firebase CI

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  deploy:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.15.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install and ci and build
      run: |
        npm install
        npm ci
        NODE_OPTIONS=--max-old-space-size=6096 npm run build && npm run export
    - name: Sync Orama Search Index
      run: node sync-index.mjs
      env:
        ORAMA_PRIVATE_API_KEY: ${{ secrets.ORAMA_PRIVATE_API_KEY }}
    - name: Add crowdin files
      # Merge l10n_main branch into main branch
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "gihub.action@gmail.com"
        git checkout main
        git fetch origin l10n_main
        git merge origin/l10n_main --no-edit --allow-unrelated-histories -X ours
    - name: npm install and ci and build
      run: |
        npm install
        npm ci
        NODE_OPTIONS=--max-old-space-size=6096 npm run build && npm run export
    - name: Archive Build
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: out
    # https://github.com/FirebaseExtended/action-hosting-deploy
    - name: Deploy
      uses: FirebaseExtended/action-hosting-deploy@v0.9.0
      with:
        repoToken: ${{ secrets.GITHUB_TOKEN }}
        firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PIXI_VN }}
        projectId: pixi-vn
        channelId: live # prod
